{% extends 'base.html' %}


{% block content %}
    {{ super() }}
<div class="position-absolute top-50 start-50 translate-middle">
    <div class="card" style="width: 18rem;">
        <img src="https://scontent.ftbs6-1.fna.fbcdn.net/v/t1.6435-9/189066692_1644666535723355_5575177422646621521_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=w7xv-BzSNwEAX88XFpf&_nc_ht=scontent.ftbs6-1.fna&oh=474061429a0f9426e98810c74b87bb5a&oe=60D9BFF9" class="card-img-top" alt="alternative"0>
        <div class="card-body">
        <p class="card-text">გამარჯობა, მე ვარ ამ ვებ საიტის პრგრამისტი. ალბათ დაგაინტერესა რა დანიშნულება აქვს საიტს? რომ არ მოგატყუო არაფერი განსაკუთრებული, შენ უბრალოდ შეგიძლია "ბრძნული აზრები" გაიგო :დ</p>
        </div>
    </div>
</div>




{% endblock %}