{% extends 'base.html' %}

{% block content %}
    {{ super() }}
    <div class="position-absolute top-50 start-50 translate-middle">
        <form method="post" style="width:20%; margin-left:20px; margin-bottom: 20px; margin-top: 20px">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <input type="text" name="username" class="form-control mb-3 mt-3" placeholder="username">
                <input type="email" name="email" class="form-control mb-3 mt-3" placeholder="email">
                <input type="password" name="password" class="form-control mb-3 mt-3" placeholder="password">
            </div>
        </div>
         <button name="send_request" value="send_post_request" type="submit" class="btn btn-warning">რეგისტრაცია</button>
    </form>
    </div>

{% endblock %}